@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-bg: var(--bg-primary);
  --color-brand-surface: var(--bg-secondary);
  --color-brand-accent: var(--accent);
}

:root {
  --bg-primary: #e5e5e5;
  --bg-secondary: #f4f4f4;
  --accent: #2F4560;
}

.dark {
  --bg-primary: #242E3D;
  --bg-secondary: #37818D;
  --accent: #66FFCC;
}

body {
  background-color: var(--color-brand-bg);
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  user-select: none;
  margin-top: 0.25rem;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
