@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-60: var(--color-brand-60);
  --color-brand-30: var(--color-brand-30);
  --color-brand-10: var(--color-brand-10);
}

@layer base {
  :root {
    --color-brand-60: #e5e5e5;
    --color-brand-30: #f4f4f4;
    --color-brand-10: #2F4560;
  }

  .dark {
    --color-brand-60: #242E3D;
    --color-brand-30: #37818D;
    --color-brand-10: #66FFCC;
  }

  body {
    background-color: var(--color-brand-60);
    color: var(--color-brand-10);
  }
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}


ul[data-type="taskList"] p {
  margin: 0;
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  user-select: none;
  margin-top: 0.25rem;
}

ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
